<body>
<!-- Footer -->
<footer class=" footer bg-light  ">
  <!-- Grid container -->
 
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">

    <!-- Linkedin -->
    <a class="btn btn-primary btn-floating m-1" target="_blank" style="background-color: #0082ca"
    href=" https://www.linkedin.com/in/tomeksobkow/" role="button"> <i class="fab fa-linkedin-in"></i></a>

    <a class="btn btn-primary btn-floating m-1" target="_blank" style="background-color: #333333; margin-right: 2%;"
    href="https://github.com/TomaszSobkow" role="button"><i class="fab fa-github"></i></a>
     © 2023 Copyright:
    <a class="text-dark" href="mailto:sobeczki@gmail.com">@Tomasz Sobkow</a>
    <a>   V1.4 (8 May 2023)</a>
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>