<body>
    <h4><span class="badge bg-secondary" style="width: 100%">{{title }}</span></h4>
  <div class = "table caption-top">
    
      <table class = "table table-striped table-hover ">
          <thead>
              <tr>
                  <th scope="col"> Name </th>
                  <th scope="col"> Surname </th>
                  <th scope="col"> County</th>
                  <th scope="col"> Town</th>
                  <th scope="col"> Address</th>
                  <th scope="col"> Phone</th>
                  <th scope="col"> Email </th>
                  <th scope="col"> Details </th>
              </tr>
          </thead>

          <tbody>
              <tr  class = "" scope="row" *ngFor="let student of students" >
                  <td>{{ student.firstName }}</td>
                  <td>{{ student.lastName }}</td>
                  <td>{{ student.county }}</td>
                  <td>{{ student.town }}</td>
                  <td>{{ student.address }}</td>
                  <td>{{ student.phone }}</td>
                  <td>{{ student.email }}</td>
                  <td>
                      <button (click) = "getStudentDetails(student.id)" class = "btn btn-secondary  btn-sm "> Details </button>
                  </td>
              </tr>
          </tbody>
          
      </table>
      <div>
        
      </div>

      <div *ngIf="students.length == 0">
        <p style="color: red; margin-top: 2%; text-align: center; font-size:x-large;">If you can not see the list of the Students please follow the instruction in the picture below.
            <br>
             Paste the string in your Chrome browser address bar <b>chrome://flags/#block</b>        
        </p>
        <img src="/assets/Images/error.jpg"  height="200" alt="Security Error">
      </div>
  </div>
</body>
